#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Text_1 {
  position: absolute;
  top: 143px;
  left: 338px;
  width: 342px;
  height: 61px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Iowan Old Style,Arial;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Text_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Iowan Old Style,Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Iowan Old Style,Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Button_1 {
  position: absolute;
  top: 18px;
  left: 860px;
  width: 62px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Button_2 {
  position: absolute;
  top: 18px;
  left: 939px;
  width: 62px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Button_3 {
  position: absolute;
  top: 18px;
  left: 19px;
  width: 62px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Button_3 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Text_2 {
  position: absolute;
  top: 188px;
  left: 337px;
  width: 359px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Text_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Text_3 {
  position: absolute;
  top: 246px;
  left: 326px;
  width: 117px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Text_4 {
  position: absolute;
  top: 290px;
  left: 326px;
  width: 88px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Input_1 {
  position: absolute;
  top: 254px;
  left: 409px;
  width: 213px;
  height: 22px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Input_2 {
  position: absolute;
  top: 291px;
  left: 409px;
  width: 213px;
  height: 24px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Button_4 {
  position: absolute;
  top: 335px;
  left: 469px;
  width: 83px;
  height: 20px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Button_4 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c875aea7-751f-44f2-ad3e-1c2f266d6ef6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}